:root {
    --main-color: #DA0037;
    --white: #ffffff;
    --white-light: #F2F2F2;
    --black-dark: #2E2E2E;
    --black-light: #363636;
    --green: #58ED6D;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--white-light);
}

/* Navbar Styling */

.navbar {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 70px;
}

.navbar .navbar-brand {
    margin-left: 32px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 25.9459px;
    line-height: 31px;
}

.navbar .hub {
    margin-left: 2px;
    width: 60px;
    height: 32px;
    top: 19px;
    background: var(--main-color);
    border-radius: 6px;
    padding: 4px;
    color: var(--white);
}

.search {
    width: 360px;
}

.search-bar {
    width: 100%;
    max-width: 700px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 10px 20px;
    border: 1px solid #CED4DA;
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    font-size: 16px;
    color: #ABB5BE;
}

.search-bar button i {
    color: var(--main-color);
    background-color: var(--white);
}

.search-bar button {
    border: 0;
    outline: none;
    background: var(--white);
}

.navbar ul {
    margin-right: 32px;
}

.nav-items {
    margin: 23px 16px;
}

.fa-moon {
    color: var(--main-color);
    margin-right: 32px;
}

.fa-user,
.fa-chevron-down {
    color: var(--black-dark);
}

/* End Navbar Styling*/

/* Menu Styling */

.menu {
    margin: 96px auto;
    max-width: 300px;
    padding: 10px 0;
    align-items: flex-start;
    font-family: 'Poppins', sans-serif;
    background: var(--white);
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.75);
    background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 6px, transparent 6px) 0% 0%/8px 8px no-repeat,
            radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 6px, transparent 6px) 100% 0%/8px 8px no-repeat,
            radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 6px, transparent 6px) 0% 100%/8px 8px no-repeat,
            radial-gradient(circle at 0 0, #ffffff 0, #ffffff 6px, transparent 6px) 100% 100%/8px 8px no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 4px) calc(100% - 16px) no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 16px) calc(100% - 4px) no-repeat,
            linear-gradient(46deg, transparent 30%, #da0037 100%);
    border-radius: 8px;
    padding: 6px;
    box-sizing: border-box;
}

.menu-items {
    margin: 0;
    padding: 0;
}


.menu li {
    padding: 18px 0px;
    list-style: none;
    font-size: 16px;
    padding-left: 40px;
}

.menu-title {
    font-size: 24px !important;
    font-weight: bold;
    margin-left: 15px;
    padding-left: 50px !important;
}

/* End Menu Styling */


/* Index Styling */

.post-nav {
    margin: 0 auto;
    margin-top: 96px;
    margin-bottom: 17px;
    max-width: 700px;
    min-width: 300px;;
    padding: 7.5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    background: var(--white);
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.75);
    background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 6px, transparent 6px) 0% 0%/8px 8px no-repeat,
            radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 6px, transparent 6px) 100% 0%/8px 8px no-repeat,
            radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 6px, transparent 6px) 0% 100%/8px 8px no-repeat,
            radial-gradient(circle at 0 0, #ffffff 0, #ffffff 6px, transparent 6px) 100% 100%/8px 8px no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 4px) calc(100% - 16px) no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 16px) calc(100% - 4px) no-repeat,
            linear-gradient(46deg, transparent 30%, #da0037 100%);
    border-radius: 8px;
    padding: 6px;
    box-sizing: border-box;
}

.post-nav a {
    text-decoration: none;
    color: var(--black-dark);
}

.post-nav .trending-post {
    margin-left: 30px;
}

.post-nav a i {
    padding: 0px 10px;
}
.post-nav .active {
    border-radius: 40px;
    background: var(--main-color);
    padding: 6px 12px;
    color: var(--white);
}

.user-post {
    font-family: 'Inter';
    max-width: 700px;
    background: var(--white);
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.75);
    background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 6px, transparent 6px) 0% 0%/8px 8px no-repeat,
            radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 6px, transparent 6px) 100% 0%/8px 8px no-repeat,
            radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 6px, transparent 6px) 0% 100%/8px 8px no-repeat,
            radial-gradient(circle at 0 0, #ffffff 0, #ffffff 6px, transparent 6px) 100% 100%/8px 8px no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 4px) calc(100% - 16px) no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 16px) calc(100% - 4px) no-repeat,
            linear-gradient(46deg, transparent 30%, #da0037 100%);
    border-radius: 8px;
    padding: 6px;
    box-sizing: border-box;
}

.user-post .counter {
    margin: auto 0;
}
.user-post .like-counter {
    margin: 0;
    font-size: 16px;
}

.user-post .post-title {
    margin: 15px 0 10px 0;
    font-size: 20px;
    font-weight: 900;
}

.user-post .post-details {
    font-size: 18px;
    padding: 2px 5px;
}

.user-post .bar {
    height: 3px;
    background: #2E2E2E;
    border-radius: 8px;
}

.user-post .post-by {
    font-size: 18px;
    font-weight: 600;
    margin-left: 10px;
}

.user-post .post-by span {
    color: var(--main-color);
}

.user-post .comment {
    font-size: 18px;
}


.leaderboard {
    margin: 96px auto;
    max-width: 300px;
    padding: 10px 0;
    align-items: flex-start;
    font-family: 'Poppins', sans-serif;
    background: var(--white);
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.75);
    background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 6px, transparent 6px) 0% 0%/8px 8px no-repeat,
            radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 6px, transparent 6px) 100% 0%/8px 8px no-repeat,
            radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 6px, transparent 6px) 0% 100%/8px 8px no-repeat,
            radial-gradient(circle at 0 0, #ffffff 0, #ffffff 6px, transparent 6px) 100% 100%/8px 8px no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 4px) calc(100% - 16px) no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 16px) calc(100% - 4px) no-repeat,
            linear-gradient(46deg, transparent 30%, #da0037 100%);
    border-radius: 8px;
    padding: 6px;
    box-sizing: border-box;
}


.leaderboard .lb-title-container {
    margin: 15px 0 0 10px;
}

.leaderboard .lb-title {
    font-size: 24px;
    font-weight: 900;
}

.leaderboard .lb-num {
    color: var(--main-color);
    font-weight: 600;
    font-size: 16px;
}

.leaderboard .lb-num i{
    padding-top: 17.5px;
}

.leaderboard .lb-team {
    font-weight: 600;
    font-size: 16px;
}


.leaderboard .line {
    height: 3px;
    background: #828282;
    border-radius: 8px;
    margin: 0 5px;
}


/* Rules Page */
.colorjersey{
    height: 50;
    width: 30;
}

.rules{
    text-align: center;
}