{% extends '_layout.html' %}


{% block title %}CricketHub | About{% endblock %}

{% block body %}
</div>
<div class="col-md-6">
    <div class="container part box-outline">
        <h3 class="post-header">Behind the <span class="proj">Project</span> </h3>
        <p class="post-details"> In ultricies fermentum aliquet. Pellentesque dui magna, condimentum non
            ullamcorper at, cursus in sem. Nunc condimentum, purus ac enenatis commodo libero, am auctor porta
            tortor, nec consequat nibh finibus a. Sed ultrices risus eget iaculis luctus. Mauris vel gravida
            magna.<em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus
                nunc consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec
            bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit.
                Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>
    </div>
</div>


<div class="col-md-3">
    <div class="faq box-outline">
        <div class="faq-container d-flex">
        </div class="faq-content">
        <h3 class="faq-title">FAQs</h3>
        {% for faq_listofQuestions , faq_listofAnswers in faq_dictionary.items() %}
        <p class="question">{{faq_listofQuestions}}</p>
        <p class="answer">{{faq_listofAnswers}}</p>
        {% endfor %}
    </div>

    {% endblock %}