
{% extends '_layout.html' %}

{% block title %}CricketHub | Home{% endblock %}

{% block body %}
<style>
    .flex-container {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
      }
      
      .flex-end { 
        justify-content: flex-end; 
      }  
      .flex-end li {
        background: gold;
      }
      
      .center { 
        justify-content: center; 
      }  
      .center li {
        background: deepskyblue;
      }
      
      .space-between { 
        justify-content: space-between; 
      }  
      .space-between li {
        background: lightgreen;
      }
      
      .space-around { 
        justify-content: space-around; 
      }
      .space-around li {
        background: hotpink; 
      }
      
      .space-evenly { 
        justify-content: space-evenly; 
      }
      .space-evenly li {
        background: #bada55; 
      }
      
      .flex-item {
        background: tomato;
        padding: 5px;
        width: 60px;
        height: 50px;
        margin: 5px;
        line-height: 50px;
        color: white;
        font-weight: bold;
        font-size: 2em;
        text-align: center;
      }
      .btn btn-danger moon
      {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100px;
        width: 100px;
        box-shadow: -15px 15px 0 5px white;
        border-radius: 50%;
      }

      body {
        height: 100%;
        background: url(http://pickupleagues.com/images/backgrounds/CC_fence-basketball.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        font-family: Verdana, Arial, sans-serif;
      }
      
      * {
        margin: 0;
        padding: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
      
      .user-box {
        margin: 0 auto;
        width: 400px;
      }
      
      .user-id {
        height: 100px;
        width: 100%;
        background: #fff;
        position: relative;
        cursor: pointer;
      }
      
      .user-picture {
        height: 100%;
        float: left;
      }
      
      .user-name {
        height: 100%;
        width: 300px;
        font-size: 1.5em;
        line-height: 2.5em;
        padding: 20px;
        float: left;
      }
      
      .dropdown-arrow {
        height: 0;
        width: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-top: 10px solid #333;
        position: relative;
        top: 45px;
        left: 350px;
      }
      
      .user-id:hover .dropdown-arrow {
        top: 35px;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 10px solid #333;
        border-top: 10px solid transparent;
      }
      
      .dropdown-menu {
        list-style-type: none;
        display: none;
        background: #555; /* Non-rgba compatable browsers */
        background: rgba(33, 33, 33, 0.9);
      }
      
      .user-id:hover .dropdown-menu {
        display: block;
        position: absolute;
        top: 100%;
      }
      
      .dropdown-menu ul li {
        list-style-type: none;
        display: block;
        height: 100px;
        width: 400px;
        font-size: 1.5em;
        line-height: 2.5em;
        padding: 20px;
        color: #fff;
        border-bottom: 2px solid #333;
      }
      
      .dropdown-menu ul li:last-child {
        border-bottom: none;
      }
      
      .dropdown-menu ul li:hover {
        background: #333;
        color: #fff;
      }
    
      
      
</style>

        <nav class="navbar navbar-light bg-light justify-content-between">
            <a class="navbar-brand">
                <span style="color: black">C</span>
                <span style="color: black">r</span>
                <span style="color: black">i</span>
                <span style="color:black">c</span>
                <span style="color:black">k</span>
                <span style="color:black">e</span>
                <span style="color:black">t</span>
                <span style="color:red">h</span>
                <span style="color:red">u</span>
                <span style="color: red">b</span>
            </a>
            <div class="mx-auto">
            <form class="form-inline">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <div class="ms-auto">
            <button type="button" class="btn btn-danger moon">
            </button>
            <div class="user-box">
                <div class="user-id">
                <div class="username">
                    Noobmaster69
                </div>
                  <div class="dropdown-arrow"></div>
                  <div class="dropdown-menu">
                    <ul>
                      <li>Settings</li>
                      <li>Sports</li>
                      <li>Log Out</li>
                    </ul>
                  </div>
                </div>
              </div>
        </nav>


  <ul class="flex-container flex-end">
    <li class="flex-item">1</li>
    <li class="flex-item">2</li>
    <li class="flex-item">3</li>
    <li class="flex-item">4</li>
    <li class="flex-item">5</li>
  </ul>
  
  <ul class="flex-container center">
    <li class="flex-item">1</li>
    <li class="flex-item">2</li>
    <li class="flex-item">3</li>
    <li class="flex-item">4</li>
    <li class="flex-item">5</li>
  </ul>
  
  <ul class="flex-container space-between">
    <li class="flex-item">1</li>
    <li class="flex-item">2</li>
    <li class="flex-item">3</li>
    <li class="flex-item">4</li>
    <li class="flex-item">5</li>
  </ul>
  
  <ul class="flex-container space-around">
    <li class="flex-item">1</li>
    <li class="flex-item">2</li>
    <li class="flex-item">3</li>
    <li class="flex-item">4</li>
    <li class="flex-item">5</li>
  </ul>
  
  <ul class="flex-container space-evenly">
    <li class="flex-item">1</li>
    <li class="flex-item">2</li>
    <li class="flex-item">3</li>
    <li class="flex-item">4</li>
    <li class="flex-item">5</li>
  </ul>
  
{% endblock %}