{% extends '_layout.html' %}

{% block title %}CricketHub | Home {% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="menu">
                <ul class="menu-items">
                    <li class="menu-title"> Menu </li>
                    <li class="menu-links"> <i class="fa-solid fa-house-chimney"></i> Home </li>
                    <li class="menu-links"> Game Information </li>
                    <li class="menu-links"> About </li>
                </ul>
            </div>
        </div>
        <div class="col col-6 colum-2">
            Column
        </div>
        <div class="col">
            Column
        </div>
    </div>
</div>

{% endblock %}