{% extends '_layout.html' %}

{% block title %} CricketHub | Home {% endblock %}

{% block body %}
</div>
<div class="col-md-6">
    
    <div class="d-flex mb-3 post-nav box-outline">
        <div class="p-2 new-post">
            <a class="active" href="/"> New </a>
        </div>
        <div class="p-2 trending-post">
            <a class="inactive" href="/"> Trending </a>
        </div>
        <div class="ms-auto p-2 new-post">
            <a class="active" href="/create_post"> New Post <i class="fa-solid fa-plus"></i> </a>
        </div>
    </div>
    {% for post in posts %}
    <div class="container user-post box-outline">
        <div class="row">
            <div class="col-1 text-center counter">
                <i class="fa-solid fa-angle-up fa-xl"></i>
                <p class="like-counter"> 2</p>
                <i class="fa-solid fa-angle-down fa-xl"></i>
            </div>
            <div class="col-10">
                <div class="d-flex">
                    <h3 class="post-title p-2"> {{post.post_title}} </h3>

                    {% if username == post.poster.username %}
                    <li class="post-menu dropdown p-2 ms-auto post-toggle">
                        <a class="post-menu-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="fa-solid fa-ellipsis-vertical fa-xl post-menu-i"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-lg-end box-outline">
                            <li><a class="dropdown-item dropdown-text post-menu-item" href="/edit_post"> Edit </a></li>
                            <li>
                                <form action="/deletepost/{{post.post_id}}" method="post">
                                    <button class="btn btn-lg dropdown-item dropdown-text post-menu-item"
                                        type="submit">Delete</button>
                                </form>
                            </li>
                        </ul>
                    </li>
                    {% endif %}
                </div>
                <p class="post-details"> {{post.post_body}}</p>
                <div class="bar"></div>
                <div class="d-flex">
                    <div class="p-2 username">
                        <p class="post-by"> Posted By: <span> {{post.poster.username}} </span> </p>
                    </div>
                    <div class="ms-auto p-2 comment">
                        <p class="comment-button"> Comment <i class="fa-regular fa-comment"></i> </p>
                    </div>
                </div>
            </div>
            <div class="col-1">
                <!-- Blank Space -->
            </div>
        </div>
    </div>
    {% endfor %}
`</div>


<div class="col-md-3">
    <div class="leaderboard box-outline">
        <div class="lb-title-container d-flex">
            <div class="p-2">
                <div class="lb-title"> Leaderboard </div>
            </div>
            <div class="ms-auto p-2">
                <div class="lb-num"> <i class="fa-solid fa-hashtag fa-xl"></i> </div>
            </div>
        </div>

        <div class="lb-rank d-flex">
            <div class="p-2">
                <div class="lb-team"> England </div>
            </div>
            <div class="ms-auto p-2 ">
                <div class="lb-num"> 1 </div>
            </div>
        </div>
        <div class="line"></div>

        <div class="lb-rank d-flex">
            <div class="p-2">
                <div class="lb-team"> India </div>
            </div>
            <div class="ms-auto p-2 ">
                <div class="lb-num"> 2 </div>
            </div>
        </div>
        <div class="line"></div>

        <div class="lb-rank d-flex">
            <div class="p-2">
                <div class="lb-team"> Pakistan </div>
            </div>
            <div class="ms-auto p-2 ">
                <div class="lb-num"> 3 </div>
            </div>
        </div>
        <div class="line"></div>

        <div class="lb-rank d-flex">
            <div class="p-2">
                <div class="lb-team"> Australia </div>
            </div>
            <div class="ms-auto p-2 ">
                <div class="lb-num"> 4 </div>
            </div>
        </div>
        <div class="line"></div>

        <div class="lb-rank d-flex">
            <div class="p-2">
                <div class="lb-team"> South Africa </div>
            </div>
            <div class="ms-auto p-2 ">
                <div class="lb-num"> 5 </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}