{% extends '_layout.html' %}

{% block title %}CricketHub | Log In{% endblock %}
{% block navbar %}{% endblock %}

{% block menu %}{% endblock %}
{% block body %}
<div class="col-md-3"> </div>
<div class="col-md-6 d-flex align-items-center">
  <div class="login-content">
    <div class="logo-login">Cricket <span class="hub"> Hub </span></div>
    <div class="login-box">
      <div class="login-controls d-flex mt-2 mx-2">
        <div class="p-2 go-home">
          <a class="login-ctl" href="/"> <i class="fa-solid fa-chevron-left"></i> Home </a>
        </div>
        <div class="ms-auto p-2 go-signup">
          <a class="login-ctl" href="/signup"> Sign Up <i class="fa-solid fa-chevron-right"></i></a>
        </div>
      </div>
      <h2 class="login-title">Log In</h2>

      <form class="login-form">
        <div class="form-group mb-4">
          <label class="form-label lg-lab" for="typeEmailX">Username</label>
          <input type="email" id="typeEmailX" name="username" class="form-control lg-input form-control-lg" required
            placeholder="Enter your username" />
        </div>
        <div class="form-group mb-4">
          <label class="form-label lg-lab" for="typePasswordX">Password</label>
          <input type="password" id="typePasswordX" name="password" class="form-control lg-input form-control-lg" required
            placeholder="Enter your password" />
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
          <button class="btn btn-lg lg-btn text-center" type="submit">Log In</button>
        </div>
      </form>

      <div class="google-lg">
        <p> or </p>
        <p> Sign in with <i class="fa-brands fa-google fa-lg "></i>oogle</p>

        <p class="mb-5 signup-option">Don't have an account?
          <a href="/signup" class="signup-link"> Sign Up</a>
        </p>
      </div>

    </div>
  </div>
</div>
<div class="col-md-3"> </div>
{% endblock %}