{% extends '_layout.html' %}


{% block navbar %}{% endblock %}
{% block title %}CricketHub | Login{% endblock %}

{% block body %}

<section class="vh-100 gradient-custom" style="background: var(--white-light)"">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <!--We can work on the logo later, right now this crickethub logo will be a place holder-->
            <h1 style="text-align: center; color: black;">CricketHub</h1>
          <div class="card" style="border-radius: 1rem; background: var(--white)">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-5">
  
                <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                
                
                <div class="form-outline form-white mb-4"style="text-align: left;">
                    <label class="form-label" for="typeEmailX" >Email</label>
                    <input type="email" id="typeEmailX" name="loginEmail" class="form-control form-control-lg" />
                </div>
  
                <div class="form-outline form-white mb-4" style="text-align: left;">
                    <label class="form-label" for="typePasswordX">Password</label>
                    <input type="password" id="typePasswordX" name="loginPass" class="form-control form-control-lg" />  
                </div>
  
                <!--Maybe we should do something about changing the way this buttons color changes. I wanted to make the button our chosen color though-->
                <button class="btn btn-outline-light btn-lg px-5" type="submit" style="background-color:#DA0037">Login</button>
  
              </div>
  
              <div>
                <p class="mb-0">Don't have an account? <a href="/signup" class="fw-bold">Sign Up</a>
                </p>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}