{% extends '_layout.html' %}

{% block title %}CricketHub | Post {% endblock %}



{% block livescores %}{% endblock %}
{% block body %}
</div>
<div class="col-md-6">
    <div class="container user-post post-single box-outline">
        <div class="row">
            <div class="col-1 text-center counter">
                <!--post table not updating, fix button-->
                <form method="POST" action="/post/{{post.post_id}}/like">
                    <button type="submit" class="like-btn">
                        <i class="fa-solid fa-angle-up fa-xl"></i>
                    </button>
                </form>
                <p class="like-counter">
                    {{ratio}}
                </p>
                <form method="POST" action="/post/{{post.post_id}}/dislike">
                    <button type="submit" class="dislike-btn">
                        <i class="fa-solid fa-angle-down fa-xl "></i>
                    </button>
                </form>
            </div>
            <div class="col-10">
                <div class="d-flex">
                    <h3 class="post-title p-2"> {{post.post_title}} </h3>
                    {% if user_id == post.poster_id %}
                    <li class="post-menu dropdown p-2 ms-auto post-toggle">
                        <a class="post-menu-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="fa-solid fa-ellipsis-vertical fa-xl post-menu-i"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-lg-end box-outline">
                            <li><a class="dropdown-item dropdown-text post-menu-item"
                                    href="/edit_post/{{post.post_id}}"> Edit </a></li>
                            <li>
                                <form method="POST" action="/post/{{post.post_id}}/delete">
                                    <button class="dropdown-item dropdown-text post-menu-item" type="submit"> Delete </button>
                                </form>
                            </li>                               
                        </ul>
                    </li>
                    {% endif %}
                </div>
                <p class="post-details"> {{post.post_body}}</p>
                <div class="bar"></div>
                <div class="d-flex">
                    <div class="p-2 username">
                        <p class="post-by"> Posted By: <span> {{post.poster.username}} </span> </p>
                    </div>
                </div>
            </div>
            <div class="col-1">
                <!-- Blank Space -->
            </div>
        </div>
    </div>
    {% for comment_pair in comment_pairs %}
    <div class="container user-post posted-com box-outline">
        <div class="row">

            <div class="col-1 text-center counter">
                <!--post table not updating, fix button reset entire post page, WIP-->

                <form method="POST" action="/post/{{post.post_id}}/{{comment_pair[1].comment_id}}/like">
                    <button type="submit" class="like-btn">
                        <i class="fa-solid fa-angle-up"></i>
                    </button>
                </form> 
                <p class="like-counter like-comm">
                    {{comment_pair[0]}}
                </p>
                <form method="POST" action="/post/{{post.post_id}}/{{comment_pair[1].comment_id}}/dislike">
                    <button type="submit" class="dislike-btn">
                        <i class="fa-solid fa-angle-down "></i>
                    </button>
                </form> 
            </div>
            <div class="col-10">
                <div class="d-flex">
                    <div class="p-2 username-com">
                        <p class="post-by"> Reply from: <span> {{comment_pair[1].commentor.username}} </span> </p>
                    </div>
                    {% if user_id == comment_pair[1].commentor_id %}
                    <li class="post-menu dropdown p-2 ms-auto post-toggle">
                        <a class="post-menu-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="fa-solid fa-ellipsis-vertical post-menu-i"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-lg-end box-outline">
                            <li><a class="dropdown-item dropdown-text post-menu-item" >
                                    Delete</a></li>
                        </ul>
                    </li>
                    {% endif %}
                </div>
                <p class="comm-content">{{comment_pair[1].content}}</p>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
    {% endfor %}
</div>
<div class="col-md-3">
    <div class="box-outline create-comment user-post container">
        <form class="create-form" action="/post/{{post.post_id}}/create_comment" method="post">
            <div class="form-group mb-4">
                <label class="form-label ct-lab" for="comment_body"> Add Comment: </label>
                <textarea id="comment_body" name="comment_body" class="form-control ct-input form-control-lg"
                    rows="3"></textarea>
            </div>
            <div class="mx-auto">
                <button class="btn btn-lg comment-btn text-center" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>




<!--{% if all_comments|length > 0 %}-->

<!--{% endif %}-->
{% endblock %}