{% extends '_layout.html' %}


{% block title %}CricketHub | Profile{% endblock %}

{% block livescores %}{% endblock %}
{% block body %}
</div>
<div class="col-md-6">
    <div class="profile">
        <div class="profile-header">
            <h1 class="prof-message"> Howdy, <span> {{username}} </span></h1>
        </div>
        <div class="prof-bio box-outline">
            <div class="profile-section-title row">
                <div class="col-md-3"></div>
                <div class="prof-sect-title col-md-6">
                    Bio
                </div>
                <div class="prof-sect-edit-btn col-md-3">
                    <a href="/profile/{{user_id}}/edit" class="edit-btn-prof">Edit</a>
                </div>
            </div>
            <div class="row prof-sect-content mb-3">
                <div class="col-md-6 prof-item-title">
                    <div class="prof-username">
                        Username:
                    </div>
                    <div class="prof-name">
                        Name:
                    </div>
                    <div class="prof-email">
                        Email:
                    </div>
                </div>
                <div class="col-md-6 prof-item-cont">
                    <div class="prof-item-cont">
                        {{user_profile.username}}
                    </div>
                    <div class="prof-item-cont">
                        {{user_profile.name}}
                    </div>
                    <div class="prof-item-cont">
                        {{user_profile.email}}
                    </div>
                </div>
            </div>
        </div>

        <div class="prof-team-container box-outline">
            <div class="profile-section-title row">
                <div class="col-md-3"></div>
                <div class="prof-sect-title col-md-6">
                    Favorite Team
                </div>
                <div class="prof-sect-edit-btn col-md-3">
                    <a href="/profile/{{user_id}}/edit" class="edit-btn-prof">Edit</a>
                </div>
            </div>
            <div class="row prof-sect-content mb-3">
                <div class="col-md-6 prof-item-title">
                    <div class="prof-username">
                        Name:
                    </div>
                </div>
                <div class="col-md-6 prof-item-cont">
                    <div class="prof-item-cont">
                        Under Maintenance     
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3">

</div>


{% endblock %}