{% extends '_layout.html' %}
{% block navbar %}{% endblock %}
{% block title %}CricketHub | Signup{% endblock %}

{% block livescores %}{% endblock %}
{% block menu %}{% endblock %}
{% block body %}

<div class="col-md-3"> </div>
<div class="col-md-6 d-flex align-items-center">
  <div class="signin-content">
    <div class="logo-signin">Cricket <span class="hub"> Hub </span></div>
    <div class="signin-box">
      <div class="signin-controls d-flex mt-2 mx-2">
        <div class="p-2 go-home">
          <a class="signin-ctl" href="/"> <i class="fa-solid fa-chevron-left"></i> Home </a>
        </div>
        <div class="ms-auto p-2 go-signup">
          <a class="signin-ctl" href="/login"> Log In <i class="fa-solid fa-chevron-right"></i></a>
        </div>
      </div>
      <h2 class="signin-title"> Sign Up </h2>

      <form class="signin-form" action="/register" method="post">
        <div class="row">
          <div class="col-md-6 mb-4">

            <div class="form-outline" style="text-align: left;">
              <label class="form-label sg-lab" for="fname">Full Name</label>
              <input type="text" id="fname" name="fname" class="form-control sg-input form-control-lg" placeholder="Enter your full name"/>
            </div>

          </div>
          <div class="col-md-6 mb-4">

            <div class="form-outline" style="text-align: left;">
              <label class="form-label sg-lab" for="username">Username</label>
              <input type="text" id="username" name="username" class="form-control sg-input form-control-lg" placeholder="Enter your username"/>
            </div>

          </div>
        </div>
        <div class="form-group mb-4">
          <label class="form-label sg-lab" for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control lg-input form-control-lg" required
            placeholder="Enter your email" />
        </div>
        <div class="form-group mb-4">
          <label class="form-label sg-lab" for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control sg-input form-control-lg" required
            placeholder="Enter your password" />
        </div>
        <div class="d-grid gap-2 col-8 mx-auto">
          <button class="btn btn-lg lg-btn text-center" type="submit">Create Account</button>
        </div>
      </form>

      <div class="google-sg">
        <p> or </p>
        <p> Sign in with <i class="fa-brands fa-google fa-lg "></i>oogle</p>

        <p class="mb-5 login-option"> Have an account already?
          <a href="/login" class="login-link"> Log In</a>
        </p>
      </div>

    </div>
  </div>
</div>
<div class="col-md-3"> </div>
{% endblock %}