name: "Test WorkFlow"

on: 
  push:
    branches:
      "**"

jobs:
  test_branch:
    name: Test Branch
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.10'

      - name: Install
        run: pip install -r requirements.txt
      
      - name: Create DB
        run: DATABASE_URL=sqlite:///test.db python create_db.py

      - name: Run tests
        run: DATABASE_URL=sqlite:///test.db pytest

      